/**==================================================================
**			Font 
**=================================================================*/
@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit[wght].ttf");
  font-weight: 400;
  font-style: normal;
}

/**==================================================================
**			Tailwind 
**=================================================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grey-900 text-white;
}


/**==================================================================
**			Scrollbar 
**=================================================================*/

body {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  z-index: 99999;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: theme(colors.grey.500);
  border-radius: 9999px;
}

/**==================================================================
**			Miscellaneous 
**=================================================================*/

/* Disable scrollbars on viewport */
body {
  overflow: hidden;
}

/* Hide focus outline created by svelte-navigator */
h1,
h2,
h3,
h4,
h5,
h6 {
  &:focus {
    outline: none;
  }
}

/**==================================================================
**			Disable default HTML drag behaviour
**=================================================================*/
*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

/**==================================================================
**			Custom utillity classes 
**=================================================================*/
.squishy {
  &:active {
    transform: scale(0.99, 0.97);
  }
}
