/**==================================================================
**			Font 
**=================================================================*/
@font-face {
	font-family: "Outfit";
	src: url("./fonts/Outfit[wght].ttf");
	font-weight: 400;
	font-style: normal;
}

/**==================================================================
**			Tailwind 
**=================================================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;


body {@apply text-white}

/** --------------------------------------------------------------
**      Workaround tailwind bug
** ----------------------------------------------------------------*/
:root {
	--tw-backdrop-blur: blur(0);
	 --tw-backdrop-brightness: brightness(100%);
	 --tw-backdrop-contrast: contrast(100%);
	 --tw-backdrop-grayscale:grayscale(0%);
	 --tw-backdrop-hue-rotate: hue-rotate(0deg) ;
	 --tw-backdrop-invert: invert(0%) ;
	 --tw-backdrop-opacity: opacity(100%) ;
	 --tw-backdrop-saturate: saturate(100%);
	 --tw-backdrop-sepia: sepia(0%) ;
}


/**==================================================================
**			Scrollbar 
**=================================================================*/

body {
	scrollbar-gutter: stable;
}

::-webkit-scrollbar {
	position: absolute;
	width: 12px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: theme(colors.grey.600);
	border-radius: 9999px;
}

/**==================================================================
**			Miscellaneous 
**=================================================================*/
body { overflow:hidden}

/**==================================================================
**			Disable default HTML drag behaviour
**=================================================================*/
*,
*::after,
*::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}
